option_settings:
  aws:elasticbeanstalk:application:environment:
    DATABASE_NAME: pizza
    DATABASE_USER: cwood
    DATABASE_HOST: pizza-time-db.c1c0l9dkpzrg.eu-west-1.rds.amazonaws.com
    DATABASE_PORT: 3306
    DATABASE_PASSWORD: maddog21
  aws:elasticbeanstalk:container:python:staticfiles:
    "/static/": "static/"
  aws:elasticbeanstalk:container:python:
    WSGIPath: pizza_project/wsgi.py
container_commands:
  01collectstatic:
    command: "python manage.py collectstatic --no-input"
  02migrate:
    command: "python manage.py migrate"
    leader_only: true
  03load_initial_data:
    command: "python manage.py loaddata initial_data"
    leader_only: true
  04wsgipass:
    command: 'echo "WSGIPassAuthorization On" >> ../wsgi.conf'
